.project-display-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    color: #fbfada;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      font-size: 48px;
    }

    img {
      width: clamp(550px, 90vw, 800px);
      // width: 500px;
      border-radius: 16px;
    }
    svg {
      font-size: 60px;
      cursor: pointer;

      &:hover {
        color: #adbc9f;
        transition: 0.5s;
      }
    }
  }

  span {
    font-size: 32px;
  }

  @media screen and (min-width: 601px) and (max-width: 1000px) {
    height: auto;
    // height: 100vh;
    padding: 8px 0;
  }

  @media screen and (max-width: 600px) {
    padding: 8px 0;
    gap: 8px;
    // height: auto;
    a {
      h1 {
        font-size: 32px;
        // margin-top: 64px;
      }

      img {
        width: clamp(300px, 90vw, 550px);
        // width: 300px;
      }

      svg {
        font-size: 32px;
      }
    }
    span {
      font-size: 24px;
    }
  }
}
