* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #111111;
  color: #fcfcfc;
}

.app-container {
  text-align: center;
}

// color1: #12372A
// color2: #436850
// color3: #ADBC9F
// color4: #FBFADA
